#text{
    animation: color 5s infinite
}

@keyframes color{
    0%, 100% {fill:black;}
    
    50% {
        fill:white;
    }
}
#falls_apart{
    animation-duration: 5s;
}

svg{
    padding-top:200px;
}








