#text{
    animation: color 5s infinite
}

@keyframes color{
    0%, 100% {fill:black;}
    
    50% {
        fill:white;
    }
}
#fall{
    animation-duration: 5s;
    animation-delay: 4s;
    /* enter any number or infinite, default is 1 */
    animation-iteration-count: 2;
}

svg{
    padding-top:200px;
}








